export * from './lib/__ARTIFACT_NAME__-plugin-module.ts';
export * from './lib/__ARTIFACT_NAME__-plugin.specification.ts';
export *
    from './lib/components/__ARTIFACT_NAME__-plugin-configuration/__ARTIFACT_NAME__-plugin-configuration.component.ts';